body {
  margin: 0;
  padding: 0;
}

/* 全局禁止选中文本 */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
